<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="../public/Bootstrap/CSS/font-awsome-5.8.1.css">
    <link rel="stylesheet" href="../public/Bootstrap/CSS/style.css">
    <link rel="stylesheet" href="../public/Bootstrap/CSS/bootstrap.css">
    <link rel="stylesheet" href="../public/Bootstrap/CSS/mdb.css">

    <title>Express GET & POST</title>
</head>
<body>
      <!--main navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
         <div class="container">
             <a class="navbar-brand" href="#">Express GET & POST</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>

             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav ml-auto">
                     <li class="nav-item active px-2">
                         <a class="nav-link" href="/">Home</a>
                     </li>
                     <li class="nav-item px-2">
                         <a class="nav-link" href="/about">About us</a>
                     </li>
                     <li class="nav-item px-2">
                         <a class="nav-link" href="/services">Services</a>
                     </li>
                     <li class="nav-item px-2">
                         <a class="nav-link" href="/profile">Profile</a>
                     </li>
                     <li class="nav-item px-2">
                         <a class="nav-link" href="/contact">Contact</a>
                     </li>

                 </ul>
             </div>
         </div>
      </nav>
      <!--Main content section-->
      <section>
      <div class="jumbotron">
          <div class="container">
              <h1 class="display-4 text-primary">Services which are providing</h1>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores autem blanditiis, ea ex maiores minima, molestias nobis, omnis praesentium quaerat quo quod sit unde vero voluptatibus! Atque deserunt et possimus quaerat quis! Commodi culpa in inventore iusto maiores recusandae sequi?</p>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto corporis doloremque et placeat quidem tempore voluptates? Amet dicta dolores excepturi fuga nulla optio provident quis reprehenderit sunt voluptate! Amet eaque ipsam quasi? Dolores eum explicabo, officiis praesentium repellat voluptas!</p>
              <hr class="my-4">
              <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </div>
      </div>
          </section>
      <!--main footer-->
      <footer class="bg-primary text-white text-center p-3">
          <div class="container">
              <div class="row ">
                  <div class="col">
                      <h3>Copyright &copy; 2021,Rahul kumar</h3>
                      <h6>All right reserved</h6>
                      <h6>Developed & Maintained by
                          <a href="https://github.com/Rahul-kumar828" target="_blank">Rahul Kumar</a>
                      </h6>

                  </div>

              </div>
          </div>

      </footer>

<!--BS js file-->
<script src="../public/Bootstrap/JS/mdb.js"></script>
<script src="../public/Bootstrap/JS/jquery.js"></script>
<script src="../public/Bootstrap/JS/popper.js"></script>
<script src="../public/Bootstrap/JS/bootstrap.js"></script>

</body>
</html>